{extend name="public/container"}
{block name="title"}  {:L(" 團購訂單","Group purchase order")}{/block}
{block name="content"}
<style>
    .user-order-list .menu .item span{padding: 0;}
     .mask {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 199;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.4);
    }
     .mask .whats {
        position: relative;
        background-color: #fff;
        padding: 15px 10px;
        border-radius: 10px;
        margin: 80% 10px;
    }
     .mask .whats .down {
        position: absolute;
        top: 3%;
        right: 3%;
        width: 25px;
        height: 25px;
        border: 1px solid #999;
        border-radius: 50%;
        color: #999;
        line-height: 25px;
        text-align: center;
    }
     .mask .whats .whats_title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
     .mask .whats .whats_content {
        display: flex;
        flex-wrap: wrap;
        
    }
     .mask .whats .whats_content .whats_item {
        display: flex;
        width: 32%;
        margin-right: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     .mask .whats .whats_content .whats_item:nth-child( 3n ) {
        margin-right:0;
     }
    .mask .whats .whats_content .whats_item img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
     .mask .whats .whats_content .whats_item span {
        font-weight: 700;
    }
</style>
<div class="user-order-list" id="order-list">
     <div class=" flex" style=" z-index: 99; padding: 0.12rem 0.1rem; width: 100%; position: fixed; top: 0; left: 0; background-color: #fff;">
                    <span   @click="window.location.href='/wap/my/index.html'"  style="display: flex; width: 8%; align-items: center; margin-right: 2%;">
                        <img  src="/public/uploads/attach/2019/01/15/back.png" style="width: 20px;">
                    </span>
                    <p style="text-align: center;width: 100%;line-height: 0.4rem;">
                         {:L(" 團購訂單","Group purchase order")}
                    </p>
            </div>
            <div style="height: 40px;">
            </div>
    <section>
        <!-- 客服选择弹窗 -->
    <div class="mask">
        <div class="whats">
            <!-- <div class="whats_title">
                Whats:
            </div> -->
            <div class="down">
                X
            </div>
            <p style="margin-bottom:15px;font-weight:700;">
                {:L(" 請選擇客服","Please select  customer service")}:
            </p>
            <div class="whats_content">
                 {volist name="appservice" id="vo"}
                <a href="{$vo.url}" class="whats_item">
                    <img src="{$vo.image}" alt="">
                    <span>{$vo.name}</span>   
                </a>
              {/volist}
            </div>

        </div>
        
    </div>
        <form action="" method="post" @submit.prevent="searchOrder">
            <div class="search-wrapper flex" ref="head" style="display: none;">
                <input type="search" v-model="search" placeholder="输入訂單号"/>
                <button type="button" @click="searchOrder"><i class="iconfont icon-icon"></i></button>
            </div>
            <div class="menu flex" ref="nav">
                <div class="item" :class="{on:type === 'all'}" @click="changeType('all')"><span>{:L(" 全部訂單","All")}</span></div>
                <!-- <div class="item" :class="{on:type === 0}" @click="changeType(0)"><span>待付款</span></div> -->
                <div class="item" :class="{on:type === 0}" @click="changeType(0)"><span>{:L(" 拼團中","Joining")}</span></div>
              <!-- <div class="item" :class="{on:type == 11}" @click="changeType(11)"><span>拼团中</span></div> -->
               <!-- <div class="item" :class="{on:type == 1}" @click="changeType(1)"><span>待發貨</span></div> --> 
              <!--  <div class="item" :class="{on:type == 2}" @click="changeType(2)"><span>已發貨</span></div> -->
                <div class="item" :class="{on:type == 2}" @click="changeType(2)"><span>{:L(" 拼團成功","Success")}</span></div>
           <!--   <div class="item" :class="{on:type == 3}" @click="changeType(3)"><span>已完成</span></div> -->
              <div class="item" :class="{on:type == 3}" @click="changeType(3)"><span>{:L(" 拼團失敗","Failed")}</span></div>
            </div>
            <div class="user-order-con" ref="bsDom" style="-webkit-overflow-scrolling : touch;">
                <div>
                <div class="item-block product-info" v-for="item in group.list" v-cloak="" style="border-radius: 8px; overflow: hidden; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);">
                   
<!--                    <div class="con-tit" @click="toOrderUrl(item)"><span class="count"><span v-if="item.combination_id != 0" style="background-color: #f48900;color: #fff;padding: .02rem .05rem;border-radius: 3px;font-size: 0.18rem;margin-right: .1rem;">拼团</span>订单: {{item.order_id}}</span> <span class="status-txt off fr" v-text="item._status._title"></span></div>
 -->                  <!--  <div class="con-tit" @click="toOrderUrl(item)"><span class="count"> 訂單: {{item.order_id}}</span> <span class="status-txt off fr" v-text="item._status._title"></span></div> -->
                    <div class="con-tit" @click="toOrderUrl(item)"><span class="count" style="font-weight: 700;">  {:L(" 拼樂惠商城","Pinlehui Mall")}</span> <span class="status-txt off fr" v-text="item._status._title"></span> <!-- <span class="status-txt off fr"> {:L(" 拼團中","Joining a group")}</span>--></div>
                    <div class="delivery-con" @click="toOrderUrl(item)">
                        <ul>
                            <li v-for="cart in item.cartInfo">
                                <a class="flex" href="javascript:void(0);">
                                    <div class="picture"><img @click.stop="toProductUrl(cart.productInfo.id)" :src="cart.productInfo.image" /></div>
                                    <div class="info-centent flex">
                                       {eq name="lang" value="zh"}
                                        <p class="name" v-text="cart.productInfo.store_name"></p>
                                        {/eq}
                                        {eq name="lang" value="en"}
                                        <p class="name" v-text="cart.productInfo.en_store_name"></p>
                                        {/eq}
                                      <!--    <p class="name" > {:L(" 拼樂惠商城","Pinlehui Mall")}</p> -->

                                        <p class="description" v-text="attrText(cart.productInfo)"></p>
                                        <p class="count"><span>￥{{cart.truePrice}}</span> X{{cart.cart_num}}</p>
                                    </div>
                                </a>
                               <!-- <div class="assess status-on" v-if="item._status._type == 3 && cart.is_reply == false">
                                    <a :href="'/wap/my/order_reply/unique/'+cart.unique">评价</a>
                                </div> -->
                            </li>
                        </ul>
                    </div>
                   <div class="all-price">
                        <div class="infos">
                         
                          <!--  <p v-if="item.total_postage > 0">运费 <span class="fr">￥{{item.total_postage}}</span></p> -->
                            <p> {:L(" 商品總價","Total price of goods")} <span class="fr">${{item.total_price}}</span></p>
                            <p class="deb" v-show="item.coupon_price > 0">{:L(" 優惠","Discount")} <span class="fr">-${{item.coupon_price}}</span></p>
<!--                            <p class="deb" v-show="item.deduction_price > 0">傭金抵扣   {:L(" 搜索發現","search")}<span class="fr">-${{item.deduction_price}}</span></p>
 -->                        </div>
                        <div class="all-count"> {:L(" 實付款","Real payment")}  <span class="fr">${{item.pay_price}}</span></div>
                        <div class="order-con-btn">
                         <!--   <a :href="'/wap/my/order_pink/id/'+item.pink_id" v-if="item.pink_id > 0"><span class="delete-order">查看拼团</span></a> -->
						<!-- 	<a class="lxkf" href="<?php echo app\admin\model\system\SystemConfig::getValue('site_service_phone');?>"> {:L(" 聯系客服"," Service")}</a> -->
                               <a class="lxkf" @click="whats" > {:L(" 聯系客服"," Service")}</a>
                            <a class="payment" v-if="item._status._type == 0" href="javascript:void(0);"  @click.prevent="confirm(item)"> {:L(" 立即付款"," Payment")}</a>
<!--                            <a :href="'/wap/my/express/uni/'+item.order_id" v-if="item._status._type == 2 && item.delivery_type == 'express'"><span class="delete-order">查詢快遞</span></a>
 -->                            <a class="payment" @click.prevent="userTake(item)" v-if="item._status._type == 2" href="javascript:void(0);"> {:L(" 確認收貨","Confirm ")}</a>
                            <a class="payment" @click.prevent="goDetails(item)" v-if="item._status._type == 3" href="javascript:void(0);"> {:L(" 再來一單","Another")}</a>
                        </div>

                    </div>
                </div>
                    <p class="loading-line" v-show="loading == true"><i></i><span> {:L(" 正在加載中","Loading")}</span><i></i></p>
                    <p class="loading-line" v-show="loading == false && group.loaded == false" v-cloak=""><i></i><span> {:L(" 加載更多","load more")}</span><i></i></p>
                    <p class="loading-line" v-show="loading == false && group.loaded == true" v-cloak=""><i></i><span>{:L(" 没有更多了","No more")}</span><i></i></p>
                    
                </div>
            </div>
        </form>
    </section>
</div>
<script>
    (function(){
        require(['vue','axios','better-scroll','helper','store','layer'],function(Vue,axios,BScroll,$h,storeApi,layer){
            new Vue({
                el:"#order-list",
                data:{
                    group:{
                        first:0,
                        limit:8,
                        list:[],
                        loaded:false,
                        top:0
                    },
                    loading: false,
                    scroll:null,
                    type: 'all',
                    search:''
                },
                watch:{
                    type:function (v,o) {
                        if(v === null) return;
                        this.search = '';
                        this.group = {
                            first:0,
                            limit:8,
                            list:[],
                            loaded:false,
                            top:0
                        };
                        this.loading = false;
                        this.getList();
                        this.$nextTick(function(){
                            this.scroll.scrollTo(0,0);
                        });
                    }
                },
                methods:{
                    goDetails:function (item) {
                        storeApi.orderDetails(item.order_id,function(res){
                            if(res.data.code == 200){
                                var cartId = res.data.data;
                                location.href = $h.U({
                                    c: 'store',
                                    a: 'confirm_order',
                                    p: {cartId: cartId}
                                });
                            }else{
                                $h.pushMsg(res.data.msg);
                            }
                        },function(res){
                            $h.pushMsg(res.msg);
                        });
                    },
                    confirm:function(item){
                        var that = this;
                        if(this.payType == 'yue')
                            layer.confirm('{:L(" 確定使用余額支付?  ","Are you sure to use your balance to pay?")}',{icon:3},function () {
                                that.goPay(item);
                            });
                        else if(this.payType == 'offline')
                            layer.confirm('{:L(" 確定使用線下付款方式支付?","Are you sure to use the offline payment method to pay?")}',{icon:3},function () {
                                that.goPay(item);
                            });
                        else
                            that.goPay(item);
                    },
                    goPay:function(item){
                        $h.loadFFF();
                        storeApi.payOrder(item.order_id,function(res){
                            $h.loadClear();
                            var data = res.data;
                            if(data.data.status == 'WECHAT_PAY'){
                                 self.location.href=res.data.data.result.jsConfig;
                                // mapleWx($jssdk(),function(){
                                //     this.chooseWXPay(data.data.result.jsConfig,function(){

                                //         $h.pushMsg('支付成功',function(){
                                //             location.reload(true);
                                //         })
                                //     },{
                                //         fail:function(){ $h.pushMsg('已取消支付');},
                                //         cancel:function(){ $h.pushMsg('已取消支付');}
                                //     });
                                // });
                            }else{
                                $h.pushMsg(data.msg,function(){
                                    location.reload(true);
                                });
                            }
                        },function(e){ $h.loadClear(); return true; })
                    },
                    userTake:function(item){
                        var that = this;
                        layer.confirm(' {:L(" 確定立即收貨? ","Are you sure to receive the goods immediately?")}',{icon:3},function(index){
                            layer.close(index);
                            $h.loadFFF();
                            storeApi.userTakeOrder(item.order_id,function(){
                                $h.loadClear();
                                $h.pushMsg(' {:L(" 收貨成功","Successfully received")}',function(){
                                    location.reload(true);
                                });
                            },function(e){ $h.loadClear(); return true; });
                        })
                    },
                    searchOrder:function(){
                        if(this.search == '') return ;
                        this.group = {
                            first:0,
                            limit:8,
                            list:[],
                            loaded:false,
                            top:0
                        };
                        this.loading = false;
                        this.type = null;
                        this.getList();
                        this.$nextTick(function(){
                            this.scroll.scrollTo(0,0);
                        });
                    },
                    changeType:function(type){
                        if(this.loading) return ;
                        this.type = type;
                    },
                    attrText:function (product){
                        return product.attrInfo == undefined ? '' : product.attrInfo.suk;
                    },
                    toProductUrl:function(id){
                        location.href = $h.U({c:'store',a:'detail',p:{id:id}});
                    },
                    toOrderUrl:function(order){
                        location.href = $h.U({c:'my',a:'order',p:{uni:order.order_id}});
                    },
                    getList:function(){
                        if(this.loading) return ;
                        this.getOrderList();
                    },
                    getOrderList:function(){
                        var that = this,type = 'group',group = that.group;
                        if(this.type==undefined){
                            this.type='all';
                        }
                        if(group.loaded) return ;
                        this.loading = true;
                        storeApi.getUserOrderList({
                            first:group.first,
                            limit:group.limit,
                            pin_type:1,
                            type:this.type=='all' ?'null':this.type,
                            search:this.search
                        },function(res){
                          
                            var list = res.data.data;
                              console.log(list);
                            group.loaded = list.length < group.limit;
                            group.first += list.length;
                            group.list = group.list.concat(list);
                            that.$set(that,type,group);
                            that.loading = false;
                            that.$nextTick(function(){
                                if(list.length) that.scroll.refresh();
                                that.scroll.finishPullUp();
                            });
                        },function(){that.loading = false});
                    },
                    bScrollInit:function () {
                        var that = this;
                        this.$refs.bsDom.style.height = (
                            document.documentElement.clientHeight -
                            this.$refs.head.offsetHeight -
                            this.$refs.nav.offsetHeight)+'px';
                        this.$refs.bsDom.style.overflow = 'hidden';

                        this.scroll = new BScroll(this.$refs.bsDom,{click:true,probeType:1,cancelable:false,deceleration:0.005,snapThreshold:0.01});
                        this.scroll.on('pullingUp',function(){
                            that.loading == false && that.getList();
                        })
                    },
                    getType:function(){
                        if(location.hash == '')
                            this.type = '';
                        else if(location.hash == '#0')
                            this.type = 0;
                        else
                            this.type = location.hash.split('#')[1];
                    },
                     whats() {
                        $(".mask").css("display","block");
                    }
                },
                mounted:function(){
                    this.bScrollInit();
                    this.getType();
                     $(".mask .down").on("click", function() {
                        $(".mask").css("display","none");
                    })
                    $(".whats .whats_item").on("click", function() {
                        $(".mask").css("display","none");
                    })

                }
            })
        })
    })();
</script>
{/block}